*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    background: rgba(255,255,255);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.clock{
    text-align: center;
}
.clock h1{
    font-size: 100px;
}
.clock p{
    font-size: 33px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}